body {
    background-color: gray;

}

h1 {
    font: bold 30px arial;
    text-align: center;
}

#calculadora {
    width: 270px;
    position: absolute;
    top: 50%;
	left: 57%;
    margin: -190px 0 0 -210px;
}

#botoes {
    grid: 30px;
}

#tela {
    border: 1px solid #ccc;
    color: white;
    width: 235px;
    height: 30px;
    padding: 10px;
    font-size: 28px;
    overflow: scroll
}

button {
    width: 60px;
    height: 60px;
    margin-top: 5px;
}